<div style="display: flex;">
    <p class="center">Mean from low to high</p>
    <app-chernoff-face
        [foreheadShape]="0.1"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.2"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.3"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.6"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.7"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.8"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.9"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="1.0"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
</div>
<div style="display: flex;">
    <p class="center">Geometrical Mean from low to high</p>
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.1"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.2"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.3"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.4"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.6"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.7"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.8"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.9"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="1.0"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
</div>

<div style="display: flex;">
    <p class="center">Median from low to high</p>
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.1"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.2"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.3"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.4"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.6"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.7"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.8"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.9"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="1.0"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
</div>

<div style="display: flex;">
    <p class="center">Mode from low to high</p>
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.1"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.2"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.3"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.4"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.6"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.7"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.8"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.9"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.5"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="1.0"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
</div>

<div style="display: flex;">
    <p class="center">Standard Deviation from low to high</p>
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.1">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.2">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.3">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.4">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.5">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.6">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.7">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.8">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="0.9">
    </app-chernoff-face> 
    <app-chernoff-face
        [foreheadShape]="0.4"
        [eyeSlant]="0.5"
        [eyebrowSlant]="0.5"
        [eyebrowTrim]="0.5"
        [mouthSmile]="1.0">
    </app-chernoff-face> 
</div>
